<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-card>
      <ion-img alt="Silhouette of mountains" src="assets/images/fondo-cifras.jpg" />
      <ion-card-header>
        <ion-card-title><b>Recuperación de Contraseña</b></ion-card-title>
        <ion-card-subtitle><b>RegistrApp</b></ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <hr color="gray">
      </ion-card-content>

      <ion-card-content>

        <form>
          <div class="ion-activatable ripple-parent rounded-rectangle">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-item class="input" color="#F3E3E2">
              <ion-label position="stacked">Correo</ion-label>
              <ion-input type="email" placeholder="Ingrese su correo" class="correo"></ion-input>
            </ion-item>
            <ion-text><sub><i>Revisar bandeja de Spam.</i></sub></ion-text>
          </div>

          <ion-item-divider color="gray"></ion-item-divider>

          <hr color="gray">

          <ion-button routerLink="/home/" fill="solid" size="default" class="entrar">Enviar</ion-button>
        </form>


        <a expand="block" (click)="setOpen(true)" class="passTel">No tengo acceso a mi correo.</a>
        <ion-modal [isOpen]="isModalOpen">
          <ng-template>
            <ion-header>
              <ion-toolbar class="ion-toolbar">
                <ion-title class="ion-text" color="light">Recuperación Alternativa</ion-title>
                <ion-buttons slot="start">
                  <ion-button (click)="setOpen(false)" color="light">Cancelar</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <form>
                <ion-label position="stacked" class="ion-pass-label">Ingrese su numero Telefónico</ion-label>
                <ion-input tpye="number" placeholder="Numero" class="ion-pass"></ion-input>
                <br>
                <ion-text class="ion-middle-text" color="light">O</ion-text><br>
                <br>
                <ion-label position="stacked" class="ion-pass-label">Ingrese un correo alternativo</ion-label>
                <ion-input type="email" placeholder="Ingrese su correo" class="ion-pass"></ion-input>
                <ion-button class="ion-button-modal" (click)="setOpen(false)">Enviar</ion-button>
              </form>
            </ion-content>
          </ng-template>
        </ion-modal>

      </ion-card-content>

    </ion-card>
  </div>
  <div class="circulo1"></div>
  <div class="circulo2"></div>
  <div class="circulo3"></div>
</ion-content>