ion-header ion-toolbar {
    --background: white;
    border-bottom: 1px solid red;
}

ion-header h4 {
    color: red;
}

.user-wrapper {
    width: fit-content;
    display: flex;
    margin: auto;
}

.fade-in-animation {
    animation: fadeIn ease-in 1.5s;
  }
  
  
  @keyframes fadeIn {
    from {
        
      opacity: 0;
    }
    to {

      opacity: 1;
    }
  }



ion-card {
    background: white;
    background: linear-gradient(
            #a30000,
            #a40000,
            rgba(255, 255, 255, 0.566),
            #ffffff00);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.555);
    border-radius: .8em !important;;
    z-index: 1;
}

ion-card-title {
    color: white;
}

ion-card-subtitle {
    color: rgb(255, 254, 254);
}

.inputReg ion-label {
    margin: auto;
    display:flex;
    text-align: center;
}

.inputReg {
    text-align: center;
    border-radius: 15px;
    background-color: #f3e3e285;
}

.entrar {
    display: flex;
    margin: auto;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 2%;
    margin-bottom: 2%;
}

ion-item {
    margin-bottom: 15px;
}


ion-button {
    --background: tomato;
    --border-radius: 0;
}

.link {
    display: flex;
    justify-content: center;
    color: gray;
}

.linkazul {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

a {
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
}

a:hover {
    color: white;
    cursor: pointer;
}

@media (min-width: 650px) {
    ion-card {
      max-width: 500px;
      margin: 0 auto;
      position: relative;
      top: 25px;
    }
}

@media (min-width: 1200px) {
    ion-card {
      max-width: 450px;
      margin: 0 auto;
      position: relative;
      top: 25px;
    }
}

.icon-container {
    display: flex;
    align-items: center;
    b{
       color: white; 
    }
  }

  .icon-class {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }

  ion-back-button{
    color: red;
}