<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-back-button slot="start"></ion-back-button>

    <ion-back-button slot="start">Back</ion-back-button>

    <ion-title> Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title><b>Registro de Usuario</b></ion-card-title>
      <ion-card-subtitle><b>RegistrApp</b></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content> 
      <hr color="gray">
    </ion-card-content>

    <ion-card-content>
      <form [formGroup]="usuario" (ngSubmit)="registrar()">
        <ion-item class="inputReg" color="#F3E3E2">
          <ion-label position="stacked">Usuario</ion-label>
          <ion-input formControlName="u" type="text" placeholder="Ingrese su usuario" class="usuario"></ion-input>
        </ion-item>

        <ion-item-divider color="gray"></ion-item-divider>

        <ion-item class="inputReg" color="#F3E3E2">
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input formControlName="nombre" type="text" placeholder="Ingrese su nombre" class="nombre"></ion-input>
        </ion-item>

        <ion-item-divider color="gray"></ion-item-divider>

        <ion-item class="inputReg" color="#F3E3E2">
          <ion-label position="stacked">Email</ion-label>
          <ion-input formControlName="email" type="email" placeholder="Ingrese su correo" class="correo"></ion-input>
        </ion-item>

        <ion-item-divider color="gray"></ion-item-divider>

        <ion-item class="inputReg" color="#F3E3E2">
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input formControlName="pass1" type="password" placeholder="Ingrese su contraseña" shape="round"
            class="contraseña"></ion-input>
        </ion-item>

        <ion-item-divider color="gray"></ion-item-divider>

        <ion-item class="inputReg" color="#F3E3E2">
          <ion-label position="stacked">Confirmar contraseña</ion-label>
          <ion-input formControlName="pass2" type="password" placeholder="Reingrese su contraseña" shape="round"
            class="contraseña"></ion-input>
        </ion-item>

        <ion-item-divider color="gray"></ion-item-divider>

        <hr color="black">

        <ion-button (click)="redireccionar()" fill="solid" size="default" class="entrar"
          type="submit">Registrarse</ion-button>

        <b><ion-text class="link">¿Ya tienes una cuenta?</ion-text><a class="linkazul" routerLink="/login/"
            routerDirection="back">Ingresa aqui</a></b>

        <hr color="gray" >
          
        <ion-button href="http://localhost:8100/login" fill="solid" size="default" class="entrar">Registrarse</ion-button>
      
        <b><ion-text class="link">¿Ya tienes una cuenta?</ion-text><a class="linkazul" routerLink="/login/" routerDirection="back">Ingresa aqui</a></b>
        
      </form>
    </ion-card-content>
  </ion-card>
  <div class="circulo1"></div>
  <div class="circulo2"></div>
  <div class="circulo3"></div>

  <div *ngIf="usuarios.length > 0; else no_hay">
    <ion-list *ngFor="let usu of usuarios">
      <ion-item-sliding>
        <ion-item>
          <ion-label>{{usu.nombre}}</ion-label>
        </ion-item>

        <ion-item-options side="start">
          <ion-item-option color="warning">Modificar</ion-item-option>
        </ion-item-options>
        <ion-item-options side="end">
          <ion-item-option color="danger">Eliminar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
  <ng-template #no_hay></ng-template>
</ion-content>