*{
    font-family: 'Fira Sans', sans-serif;
}

.flex-centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ion-spinner {
    width: 100px;
    height: 100px;
    --color: #4B0000;
}

.splash-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

.splash-text {
    position: relative;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    color: transparent;
}

.splash-text::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0; 
    height: 100%;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0), transparent);
    animation: shine 3s infinite linear;
  }
  
  @keyframes shine {
    0% {
      width: 0; 
    }
    20%,80% {
      width: 100%; 
      color: white;
    }
    100% {
      width: 0; 
    }
  }

