<ion-menu menuId="menu" contentId="main-content">
    <ion-header>
        <ion-toolbar>
            <ion-title>VerifyU</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
        <div class="sidebar-menu">
            <ul>
                <li>
                    <span (click)="noAsignatura()"><ion-icon name="home"></ion-icon>Inicio</span>
                </li>
                <li>
                    <span (click)="esAsignatura()"><ion-icon name="book-outline"></ion-icon>Asignaturas</span>
                </li>
            </ul>

        </div>
    </ion-content>
</ion-menu>

<ion-content [fullscreen]="true">

    <div class="main-content" class="ion-page" id="main-content">
        <header>
            <h2 class="sidebar-title">
                <ion-button slot="start" fill="clear" color="light" (click)="openMenu()"><ion-icon
                        name="menu"></ion-icon></ion-button>
            </h2>
            <div class="user-wrapper">
                <img src="assets/images/favicon.png" width="40px" height="40px" (click)="back()">
                <div>
                    <h4>VerifyU</h4>
                    <small>¡Bienvenido {{nombre_usuario}}!</small>
                </div>
            </div>
        </header>

        <main>
            <div class="cards">
                <div class="card-single">
                    <div>
                        <h1>{{alumnos}}</h1>
                        <span>Alumnos</span>
                    </div>
                    <div>
                        <span class="las la-users"></span>
                    </div>
                </div>
                <div class="card-single" id="trabajos-card">
                    <div>
                        <h1>{{profesores}}</h1>
                        <span>Profesores</span>
                    </div>
                    <div>
                        <span class="las la-clipboard-list"></span>
                    </div>
                </div>
                <div class="card-single">
                    <div>
                        <h1>{{clases}}</h1>
                        <span>Clases</span>
                    </div>
                    <div>
                        <span class="las la-user-tie"></span>
                    </div>
                </div>
            </div>

            <div *ngIf="isAsignaturas == false">
                <div class="recientes-grid">
                    <div class="trabajos">
                        <div class="card">
                            <div class="card-header">
                                <h3>Usuarios Recientes</h3>
                                <ion-button (click)="setOpen(true, '')" fill="clear" color="danger"><ion-icon
                                        name="add-outline"></ion-icon></ion-button>
                            </div>

                            <div class="card-body">
                                <div class="tabla-responsiva">
                                    <table width="100%" id="tabla">
                                        <thead>
                                            <tr>
                                                <td>RUT</td>
                                                <td>Nombre</td>
                                                <td>Correo</td>
                                                <td>Fecha Nacimiento</td>
                                                <td>Perfil</td>

                                            </tr>
                                        </thead>

                                        <tbody *ngFor="let usu of usuarios">
                                            <tr>

                                                <td>{{usu.rut}}</td>
                                                <td>{{usu.nombre |
                                                    titlecase}}</td>
                                                <td>{{usu.email}}</td>
                                                <td>{{usu.fechanac}}</td>
                                                <td>{{usu.perfil |
                                                    titlecase}}</td>
                                                <td>
                                                    <ion-item-sliding>
                                                        <ion-item color="success">
                                                            <ion-icon name="arrow-back-outline"></ion-icon>
                                                        </ion-item>
                                                        <ion-item-options side="end">
                                                            <ion-item-option color="favorite"
                                                                (click)="setOpen(true, usu.rut )">Modificar</ion-item-option>
                                                            <ion-item-option color="danger" (click)="eliminar(usu.rut)"
                                                                [disabled]="usu.rut == rut_usuario">Eliminar</ion-item-option>
                                                        </ion-item-options>
                                                    </ion-item-sliding>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="isAsignaturas == true">
                <div class="recientes-grid">
                    <div class="trabajos">
                        <div class="card">
                            <div class="card-header">
                                <h3>Asignaturas Disponibles</h3>
                                <ion-button (click)="setOpenAsignatura(true, '')" fill="clear" color="danger"><ion-icon
                                        name="add-outline"></ion-icon></ion-button>
                            </div>

                            <div class="card-body">
                                <div class="tabla-responsiva">
                                    <table width="100%" id="tabla">
                                        <thead>
                                            <tr>
                                                <td>Codigo</td>
                                                <td>Nombre</td>
                                                <td>Profesor</td>
                                            </tr>
                                        </thead>

                                        <tbody *ngFor="let asig of asignaturas">
                                            <tr>

                                                <td>{{asig.codigo}}</td>
                                                <td>{{asig.nombre}}</td>
                                                <td>{{asig.profesor}}</td>
                                                <td>
                                                    <ion-item-sliding>
                                                        <ion-item color="success">
                                                            <ion-icon name="arrow-back-outline"></ion-icon>
                                                        </ion-item>
                                                        <ion-item-options side="end">
                                                            <ion-item-option color="favorite"
                                                                (click)="setOpenAsignatura(true, asig.codigo)">Modificar</ion-item-option>
                                                            <ion-item-option color="danger"
                                                                (click)="eliminarAsig(asig.codigo)"
                                                                [disabled]="asig.codigo == rut_usuario">Eliminar</ion-item-option>
                                                        </ion-item-options>
                                                    </ion-item-sliding>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    /* MODAL AGREGAR */

    <ion-modal [isOpen]="agreOpen" class="modalModi">
        <ng-template class="modiTemplate">
            <ion-header>
                <ion-toolbar>
                    <ion-title class="modiTitle">AGREGAR USUARIO</ion-title>
                    <ion-buttons slot="start">
                        <ion-button (click)="setOpen(false, '')">Cerrar</ion-button>
                    </ion-buttons>
                    <ion-buttons slot="end">
                        <ion-button
                            [disabled]="registroUsuario.controls.pass1.value != registroUsuario.controls.pass2.value || registroUsuario.invalid"
                            (click)="guardar()" type="submit">Confirmar</ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>
            <ion-content class="ion-paddinga">
                <form [formGroup]="registroUsuario">
                    <ion-item>
                        <ion-label position="stacked">RUT</ion-label>
                        <ion-input type="text" formControlName="rut"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">Nombre</ion-label>
                        <ion-input type="text" formControlName="nombre"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">Correo</ion-label>
                        <ion-input type="text" formControlName="email"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">Fecha Nacimiento</ion-label>
                        <ion-input type="date" formControlName="fechanac"></ion-input>
                    </ion-item>
                    <ion-item class="inputReg">
                        <ion-label position="stacked">Contraseña</ion-label>
                        <ion-input type="password" placeholder="Ingrese su contraseña" class="contraseña"
                            formControlName="pass1"></ion-input>
                    </ion-item>

                    <ion-item class="inputReg">
                        <ion-label position="stacked">Confirmar contraseña</ion-label>
                        <ion-input type="password" placeholder="Reingrese su contraseña" class="contraseña"
                            formControlName="pass2"></ion-input>
                    </ion-item>
                    <ion-list class="perfilSelect">
                        <ion-item>
                            <ion-select placeholder="Perfil de Usuario" formControlName="perfil">
                                <div slot="label">Seleccione un Perfil</div>
                                <ion-select-option value="alumno">Alumno</ion-select-option>
                                <ion-select-option value="profesor">Profesor</ion-select-option>
                                <ion-select-option value="admin">Admin</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-list>
                </form>
            </ion-content>
        </ng-template>
    </ion-modal>

    /* MODAL MODIFICAR */

    <ion-modal [isOpen]="isModalOpen" class="modalModi" *ngFor="let usu of usuarios">
        <ng-template class="modiTemplate">
            <ion-header>
                <ion-toolbar>
                    <ion-title class="modiTitle">MODIFICAR USUARIO</ion-title>
                    <ion-buttons slot="start">
                        <ion-button (click)="setOpen(false, usu.rut)">Cerrar</ion-button>
                    </ion-buttons>
                    <ion-buttons slot="end">
                        <ion-button (click)="modificar()">Confirmar</ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>
            <ion-content class="ion-paddinga">
                <form [formGroup]="usuario">
                    <ion-item disabled="true">
                        <ion-label position="stacked">RUT</ion-label>
                        <ion-input type="text" formControlName="rut"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">Nombre</ion-label>
                        <ion-input type="text" formControlName="nombre"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">Correo</ion-label>
                        <ion-input type="text" formControlName="email"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">Fecha Nacimiento</ion-label>
                        <ion-input type="date" formControlName="fechanac"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-list class="perfilSelect">
                            <ion-item>
                                <ion-select placeholder="Perfil de Usuario" formControlName="perfil">
                                    <div slot="label">Seleccione un Perfil</div>
                                    <ion-select-option value="Alumno">Alumno</ion-select-option>
                                    <ion-select-option value="Profesor">Profesor</ion-select-option>
                                    <ion-select-option value="Admin">Admin</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-list>
                    </ion-item>
                </form>
            </ion-content>
        </ng-template>
    </ion-modal>

    /* PAGINA ASIGNATURAS */

    /* AGREGAR ASIGNATURAS */

    <ion-modal [isOpen]="asigOpen" class="modalModi">
        <ng-template class="modiTemplate">
            <ion-header>
                <ion-toolbar>
                    <ion-title class="modiTitle">AGREGAR ASIGNATURA</ion-title>
                    <ion-buttons slot="start">
                        <ion-button (click)="setOpenAsignatura(false, '')">Cerrar</ion-button>
                    </ion-buttons>
                    <ion-buttons slot="end">
                        <ion-button (click)="guardarAsig()" type="submit">Confirmar</ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>
            <ion-content class="ion-paddinga">
                <form [formGroup]="registroAsignatura">
                    <ion-item>
                        <ion-label position="stacked">Codigo</ion-label>
                        <ion-input type="text" formControlName="codigo"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">Nombre</ion-label>
                        <ion-input type="text" formControlName="nombre"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">Profesor</ion-label>
                        <ion-input type="text"formControlName="profesor"></ion-input>
                    </ion-item>
                </form>
            </ion-content>
        </ng-template>
    </ion-modal>

    /* MODIFICAR ASIGNATURAS */

    <ion-modal [isOpen]="isAsigOpen" class="modalModi" *ngFor="let asig of asignaturas">
        <ng-template class="modiTemplate">
            <ion-header>
                <ion-toolbar>
                    <ion-title class="modiTitle">MODIFICAR ASIGNATURA</ion-title>
                    <ion-buttons slot="start">
                        <ion-button (click)="setOpenAsignatura(false, asig.codigo)">Cerrar</ion-button>
                    </ion-buttons>
                    <ion-buttons slot="end">
                        <ion-button (click)="modificarAsig()">Confirmar</ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>
            <ion-content class="ion-paddinga">
                <form [formGroup]="registroAsignatura">
                    <ion-item disabled="true">
                        <ion-label position="stacked">Codigo</ion-label>
                        <ion-input type="text" formControlName="codigo"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">Nombre</ion-label>
                        <ion-input type="text" formControlName="nombre"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-list>
                            <ion-item>
                              <ion-select label="Profesor" formControlName="profesor">
                                <ion-select-option value="{{profesor.nombre}}" *ngFor="let profesor of filtrarProfes()">
                                  {{ profesor.nombre }}
                                </ion-select-option>
                              </ion-select>
                            </ion-item>
                          </ion-list>
                    </ion-item>
                </form>
            </ion-content>
        </ng-template>
    </ion-modal>

</ion-content>