<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="start">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="grid-outline" slot="start"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Estudiantes</ion-label>
      </ion-item>
      <!-- Añadir mas menus -->
    </ion-list>
  </ion-content>
</ion-menu>




<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Admin dashboard</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>SAS</p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Lista estudiantil</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            SOS
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
