ion-content::-webkit-scrollbar {
  display: none;
}

ion-row::-webkit-scrollbar {
  display: none;
}

.mainContent {
  top: 76px;
  --background: rgb(224, 224, 224);
  overflow: hidden;

  ion-grid {

    ion-row {
      overflow: scroll;
      margin-bottom: 60px;
    }

  }
}

.user-wrapper {
  width: fit-content;
  display: flex;
  margin: auto;
}

.fade-in-animation {
  animation: fadeIn ease-in 1.5s;
}


@keyframes fadeIn {
  from {

    opacity: 0;
  }

  to {

    opacity: 1;
  }
}

.card1,
.card2 {
  text-align: center;
  background: white;
  border: 1px red solid;
}


.card1 {
  ion-title {
    font-weight: bold;
    color: black;
  }
}

.card2 {
  b {
    color: black;
  }

  thead {

    td {
      color: black;
      font-weight: bold;
    }
  }
}

/* MODAL MODIFICAR */

ion-input {
  font-weight: bold;
}


.modalModi {

  --background: transparent;
  padding: 0;
  border: 0;
  margin: 0;
  
  ion-content {
    --background: linear-gradient(rgba(255, 175, 175, 0.585), rgba(255, 203, 185, 0.558), rgba(249, 248, 248, 0.749));
    --color: white;
  }

  ion-title {
    justify-items: center;
    align-items: center;
    text-align: center;
    color: tomato;
    font-weight: bold;
  }

  ion-toolbar {
    --background: white;
    --color: black;
    --font-weight: bold;
  }

  ion-item {
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0px;
    color: black;
    --background: transparent;

    ion-button {
      --background: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      transition: all .2s ease-in-out;

      &:hover {
        transform: scale(1.08);
        --background: tomato;
      }

    }

  }


  ion-content ion-button {
    width: 80%;
    background-color: rgb(172, 0, 0);
    color: white;
    margin-top: 5%;
    margin: 0 auto;
  }

}