<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="card1">
          <ion-card-header>
            <ion-title>
              Escanea tu QR de clases!
            </ion-title>
          </ion-card-header>
          <ion-card-content>
            <qrcode [qrdata]="dato" [width]="256" [errorCorrectionLevel]="'M'">
            </qrcode>
            <ion-input label="Qr codigo" [(ngModel)]="dato"></ion-input>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="card2">
          <ion-card-header>
            <p><b><strong>TUS ASIGNATURAS</strong></b></p>
          </ion-card-header>
          <ion-card-content>
            <table width="100%" id="tabla" >
              <thead>
                <tr >
                  <td>Asignatura</td>
                </tr>
              </thead>

              <tbody *ngFor="let asig of asignaturas">
                <tr>
                  <td>{{asig.nombre}}</td>
                  <ion-button (click)="setOpen(true)">Crear Clase</ion-button>
                </tr>
              </tbody>
            </table>
          </ion-card-content>
        </ion-card>
        <ion-card class="card2">
          <ion-card-header>
            <p><b><strong>TUS CLASES</strong></b></p>
          </ion-card-header>
          <ion-card-content>
            <table width="100%" id="tabla">
              <thead>
                <tr >
                  <td>Asignatura</td>
                  <td>Horario</td>
                </tr>
              </thead>

              <tbody *ngFor="let clase of clases" >
                <tr>
                  <td>{{clase.profesor}}</td>
                  <td>16:00 AM</td>
                  <ion-button>Crear Código</ion-button>
                </tr>
              </tbody>
            </table>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-modal [isOpen]="agreOpen" class="modalModi">
  <ng-template class="modiTemplate">
      <ion-header>
          <ion-toolbar>
              <ion-title class="modiTitle">AGREGAR USUARIO</ion-title>
              <ion-buttons slot="start">
                  <ion-button (click)="setOpen(false)">Cerrar</ion-button>
              </ion-buttons>
              <ion-buttons slot="end">
                  <ion-button
                      [disabled]="registroClase.invalid"
                      (click)="guardarClase()" type="submit">Confirmar</ion-button>
              </ion-buttons>
          </ion-toolbar>
      </ion-header>
      <ion-content class="ion-paddinga">
          <form [formGroup]="registroClase">
              <ion-item>
                  <ion-label position="stacked">ID</ion-label>
                  <ion-input type="text" formControlName="id"></ion-input>
              </ion-item>
                  
              <ion-list class="perfilSelect">
                <ion-item>
                  <ion-list>
                    <ion-item>
                      <ion-select label="Asignatura" formControlName="asignatura">
                        <ion-select-option value="{{asig.codigo}}" *ngFor="let asig of filtrarAsignaturas()">
                          {{ asig.nombre }}
                        </ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-list>
                </ion-item>
            </ion-list>

              <ion-item>
                  <ion-label position="stacked">Profesor</ion-label>
                  <ion-input type="text" formControlName="profesor"></ion-input>
              </ion-item>

              <ion-list class="perfilSelect">
                <ion-item>
                  <ion-list>
                    <ion-item>
                      <ion-select label="Hora inicial" formControlName="hora">
                        <ion-select-option>
                          8:00AM
                        </ion-select-option>
                        <ion-select-option>
                           8:30AM
                        </ion-select-option>
                        <ion-select-option>
                           9:00AM
                        </ion-select-option>
                        <ion-select-option>
                           10:00AM
                        </ion-select-option>
                        <ion-select-option>
                           11:00AM
                        </ion-select-option>
                        <ion-select-option>
                           12:00PM
                        </ion-select-option>
                        <ion-select-option>
                           13:00PM
                        </ion-select-option>
                        <ion-select-option>
                           14:00PM
                        </ion-select-option>
                        <ion-select-option>
                           15:00PM
                        </ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-list>
                </ion-item>
            </ion-list>
          </form>
      </ion-content>
  </ng-template>
</ion-modal>