<ion-content class="mainContent">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="card1">
          <ion-card-header>
            <ion-title>
              Escanea tu QR de clases!
            </ion-title>
          </ion-card-header>
          <ion-card-content>
            <qrcode [allowEmptyString]="true" [qrdata]="dato" [width]="256"
              [errorCorrectionLevel]="'M'">
            </qrcode>
            <ion-input label="Código QR" [(ngModel)]="dato"></ion-input>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="card2">
          <ion-card-header>
            <p><b><strong>TUS ASIGNATURAS</strong></b></p>
          </ion-card-header>
          <ion-card-content>
            <table width="100%" id="tabla">
              <thead>
                <tr>
                  <td>Asignatura</td>
                </tr>
              </thead>

              <tbody *ngFor="let asig of asignaturas">
                <tr>
                  <td>{{asig.nombre}}</td>
                  <ion-button (click)="setOpen(true, asig.nombre)">Crear Clase</ion-button>
                </tr>
              </tbody>
            </table>
          </ion-card-content>
        </ion-card>
        <ion-card class="card2">
          <ion-card-header>
            <p><b><strong>TUS CLASES</strong></b></p>
          </ion-card-header>
          <ion-card-content>
            <table width="100%" id="tabla">
              <thead>
                <tr>
                  <td>Asignatura</td>
                  <td>Horario</td>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let clase of clases">
                  <td>{{clase.asignatura}}</td>
                  <td>{{clase.hora}}</td>
                  <ion-item-sliding>
                    <ion-item color="success">
                      <ion-icon name="arrow-back-outline"></ion-icon>
                    </ion-item>
                    <ion-item-options side="end">
                      <ion-item-option (click)="verCodigo(clase.id)">
                        <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
                      </ion-item-option>
                      <ion-item-option color="danger"
                        (click)="eliminarClase(clase.id)">
                        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                      </ion-item-option>
                    </ion-item-options>
                  </ion-item-sliding>
                </tr>
              </tbody>
            </table>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-modal [isOpen]="agreOpen" class="modalModi">
  <ng-template class="modiTemplate">
    <ion-header>
      <ion-toolbar>
        <ion-title class="modiTitle">CREAR CLASE</ion-title>
        <ion-buttons slot="start">
          <ion-button (click)="setOpen(false,'')">Cerrar</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="guardarClase()" type="submit">Confirmar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-paddinga">
      <div class="modalClase">
        <form [formGroup]="registroClase">
          <ion-item>
            <ion-label position="stacked">ID</ion-label>
            <ion-input type="text" formControlName="id" value="randomPassword"></ion-input>
          </ion-item>
          <ion-item>
            <ion-button class="generarcode" expand="block" (click)="generarID()">Generar
              Código</ion-button>
          </ion-item>
        </form>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>