
ion-card {
    overflow: auto;
    background: #012C56;
    
}

ion-card-title {
    color: white;
}

.input {
    border-radius: 15px;
}

.entrar {
    width: 20%;
    margin-left: 40%;
    margin-top: 3%;
    margin-bottom: 2%;
}

.link {
    display: flex;
    justify-content: center;
}

.linkazul {
    text-decoration: none;
    width: fit-content;
    margin-left: 47.5%;
}

.linkazul:hover {
    color: white;
}



