
ion-card {
    overflow: auto;
    background: rgb(2,0,36);
    background: linear-gradient( black 0%,rgba(0,0,0,1) 35%, rgba(41, 40, 40) 100%) !important ;
    
}

.input {
    border-radius: 15px;
}

.buttonitem {
    margin-top: 1%;
    margin-bottom: 2%;
    border-radius: 15px;
    color: rgba(210, 225, 0, 0.711);
}

ion-item ion-button{
    color: rgb(255, 255, 255);
    width: 100%;
    margin: 3%;
}


.link {
    display: flex;
    justify-content: center;

}

.linkazul {
    display: flex;
    justify-content: center;
    text-decoration: none;
}



