<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="user-wrapper">
      <img src="assets/images/favicon.png" width="40px" height="40px" alt
        class="fade-in-animation">
      <div>
        <h4 style="margin-top: 15%;" class="fade-in-animation">erifyU</h4>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="card1">
          <ion-card-header>
            <ion-title>
              Escanea tu QR de clases!
            </ion-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img src="assets/images/DottedRed.png"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="card2">
          <ion-card-header>
            <p><b><strong>¿Qué es VerifyU?</strong></b></p>
          </ion-card-header>
          <ion-card-content>
            <br />
            <ion-img src="assets/images/cbimage.png"></ion-img>
            <p>Es una aplicación que permite a los estudiantes y profesores
              verificar la asistencia en las clases.</p>
            <br />
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
