ion-content::-webkit-scrollbar {
  display: none;
}

ion-row::-webkit-scrollbar {
  display: none;
}

ion-header ion-toolbar {
  --background: white;
  border-bottom: 1px solid red;

  h4 {
    color: red;
    font-weight: bold;
  }
}


ion-content {
  top: 76px;
  --background: rgb(224, 224, 224);

  ion-grid {

    ion-row {
      overflow: scroll;
      margin-bottom: 60px;
    }

  }
}

.user-wrapper {
  width: fit-content;
  display: flex;
  margin: auto;
}

.fade-in-animation {
  animation: fadeIn ease-in 1.5s;
}


@keyframes fadeIn {
  from {

    opacity: 0;
  }

  to {

    opacity: 1;
  }
}

.card1,
.card2,
.card3 {
  text-align: center;
  background: white;
  border: 1px red solid;
}

.card1 {
  ion-title {
    font-weight: bold;
    color: black;
  }
}

.card2 {
  b {
    color: black;
  }
}

table {
  width: 100%;
  table-layout: fixed;

  thead {

    td {
      color: black;
      font-weight: bold;
      width: 33.33%;
    }
  }

  tbody {

    td {
      color: tomato;
    }
  }
}

/* CSS API */

.card3 {
  b {
    color: black;
  }

  width: fit-content;
  height: fit-content;
}

.card3 #foto {
  width: 300px;
  height: 300px;
}

/* CSS MAPA */

.mapanasa {
  display: flex;
}

.mapanasa #map {
   width: 300px;
    height: 300px;
    display: block;
}
