
<ion-content >
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button tab="admin/{{data.user.nombre}}" *ngIf="data.user.perfil == 'admin' ">
        <ion-icon name="book"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="profe/{{data.user.nombre}}" *ngIf="data.user.perfil == 'profesor' ">
        <ion-icon name="moon"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="alumno/{{data.user.nombre}}" *ngIf="data.user.perfil == 'alumno' ">
        <ion-icon name="car"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
