/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

:root {
    --ion-color-favorite: #ffffff;
    --ion-color-favorite-rgb: 255, 255, 255;
    --ion-color-favorite-contrast: #ffffff;
    --ion-color-favorite-contrast-rgb: 255, 255, 255;
    --ion-color-favorite-shade: #e9e9e9;
    --ion-color-favorite-tint: #e6e6e6;
  }

  .ion-color-favorite {
    --ion-color-base: var(--ion-color-favorite);
    --ion-color-base-rgb: var(--ion-color-favorite-rgb);
    --ion-color-contrast: var(--ion-color-favorite-contrast);
    --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
    --ion-color-shade: var(--ion-color-favorite-shade);
    --ion-color-tint: var(--ion-color-favorite-tint);
  }

* {
    font-family: 'Fira Sans', sans-serif;
}

.linkazul {
    cursor: pointer;
}

ion-content {
    --background: black;
}

ion-toolbar {
    --background:#1b2e3c4e;
}

ion-card {
    background: white;
    background: linear-gradient(#4B0000,
            rgba(255, 255, 255, 0.245) 90%);
}

.circulo1 {
    background: white;
    background: linear-gradient(
        to right bottom,
        #1B2E3C,
        rgba(255, 255, 255, 0.379)
    );
    backdrop-filter: blur(1rem);
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
}

.circulo2 {
    background: white;
    background: linear-gradient(
        to right bottom,
        #4B0000,
        rgba(255, 255, 255, 0.404)
    );
    backdrop-filter: blur(1rem);
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
    top: 70%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.circulo3 {
    background: white;
    background: linear-gradient(
        to right bottom,
        #1B2E3C,
        rgba(255, 255, 255, 0.378)
    );
    backdrop-filter: blur(1rem);
    height: 10rem;
    width: 10rem;
    position: absolute;
    border-radius: 50%;
    top: 90%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.icon-container {
    margin-top: 2%;
}